<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="script_template.js" ></script>
  <script src="script.js"></script>
  <title>Document</title>
</head>
<body>

   <script type="text/template" id="wrapper-template">
     <div class="wrapper">
       <ul class="item-list">
       </ul>
       <div class="controls">
         <input type="text" class="item-value">
         <button class="item-add">Добавить</button>


       </div>
     </div>
   </script>

   <script type="text/template" id="list-template">
    <% for ( var i = 0; i < data.length; i++) { %>
        <li><%= data[i] %><span data-value="<%= data[i] %>" class="item-delite"> x </span></li>
      <% }; %>


   </script>
</body>
</html>
